.filter-checkbox {
  display: flex;
  gap: 14px;
  margin: 0 0 43px 0;
}

.filter-checkbox__content {
  position: relative;
  display: flex;
  width: 36px;
  height: 20px;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  border-radius: 15px;
  transition: 0.4s;
}

/* Стили для ползунка в активном состоянии */
.filter-checkbox__input:checked + .filter-checkbox__span {
  background-color: #2be080;
}

/* Стили для ползунка в виде переключателя */
.filter-checkbox__span:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Стили для ползунка в виде переключателя в активном состоянии */
.filter-checkbox__input:checked + .filter-checkbox__span:before {
  transform: translateX(16px);
}

.filter-checkbox__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

@media (max-width: 1090px) {
  .filter-checkbox {
    margin: 0 0 51px 0;
  }
}

@media (max-width: 767px) {
  .filter-checkbox {
    margin: 0 0 63px 0;
    gap: 13px;
  }

  .filter-checkbox__text {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}
