.aboutMe {
  background-color: #202020;
}

.aboutMe__content {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 110px 70px 125px;
  display: flex;
  flex-direction: column;
}

.aboutMe__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0 0 23px 0;
}

.aboutMe__line {
  width: 100%;
  border-top: 1px solid #dadada;
  margin: 0 0 66px 0;
}

.aboutMe__main {
  display: flex;
  justify-content: space-between;
  gap: 49px;
  margin: 0 0 100px 0;
}

.aboutMe__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutMe__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0 0 18px 0;
}

.aboutMe__desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 0 26px 0;
}

.aboutMe__bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0 0 99px 0;
}

.aboutMe__github {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: white;
  text-decoration: 0;
}

@media (max-width: 1090px) {
  .aboutMe__content {
    padding: 90px 50px;
  }

  .aboutMe__name {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0 0 16px 0;
  }

  .aboutMe__desc {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 20px 0;
  }

  .aboutMe__bio {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 87px 0;
  }

  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }

  .aboutMe__main {
    margin: 0 0 90px 0;
  }
}

@media (max-width: 767px) {
  .aboutMe__content {
    padding: 70px 14px;
  }

  .aboutMe__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0 0 28px 0;
  }

  .aboutMe__line {
    margin: 0 0 60px 0;
  }

  .aboutMe__main {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0 0 70px 0;
  }

  .aboutMe__photo {
    width: 292px;
    height: 352px;
    margin: 0 auto;
  }

  .aboutMe__bio {
    margin: 0 0 20px 0;
  }

  .aboutMe__name {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .aboutMe__desc {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }

  .aboutMe__info {
    gap: 20px;
  }
}
